<label>Search by category:
  <select ng-change='searchSelect(selectQuery)' ng-model='selectQuery' ng-options='option for option in selectOptions'>
  </select></label>

<label>Search by name <input type='search' ng-model='nameQuery' ng-change='searchSelect(nameQuery)'/></label>

<a href="/#/cart"><button><b>Checkout</b> | Bag: {{ getBagCount() }}</button></a>
<div class='container'>
  <div class='row'>
      <table class="table table-bordered">
        <thead>
          <th>Tea</th>
          <th>Information</th>
        </thead>
        <tbody>
          <tr ng-repeat='item in items()'>
            <div class='container'>
              <td>
                <img ng-src='{{item.imageUrl}}' />
              </td>
              <td>
                <div class='col-md-8'>
                  <h2>{{item.name}}</h2>
                  <p><b>Price:</b> {{item.price | addDecimal | currency }}</p>
                  <p><b>Caffeine Scale:</b> {{item.caffeineScale}}</p>
                  <p><b>Ingredients:</b> {{item.ingredients}}</p>
                  <p><b>Rating:</b> {{item.rating}}</p>
                  <p><b>In Stock?</b> {{item.inStock | convertTF }}</p>
                  <ul><b>Categories:</b>
                    <li ng-repeat='cat in item.categories'>{{cat}}</li>
                  </ul>
                </div>
                <div class='col-md-4'>
                  <label><b>Quantity: </b><select ng-model='itemQuantity'>
                    <option ng-repeat='i in [1,2,3,4,5,6,7,8,9,10]'>{{ i }}</option>
                  </select></label>
                  <button ng-click='addToBag(item._id, itemQuantity, this)'>Add to Bag</button>
                </div>
              </td>
            </div>
          </tr>
        </tbody>
      </table>
  </div>

</div>